<a href="https://colab.research.google.com/github/ohsang14/Python/blob/main/STEP_05_%EB%B0%98%EB%B3%B5%EB%AC%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#01.For반복문

In [2]:
# print("Selena 파이썬 프로그래밍") 코드를 5번 반복하고 싶을 때
# range() 함수를 사용하여 0부터 5미만까지 5번 반복
for i in range(5):
  print("Selena 파이썬 프로그래밍")

Selena 파이썬 프로그래밍
Selena 파이썬 프로그래밍
Selena 파이썬 프로그래밍
Selena 파이썬 프로그래밍
Selena 파이썬 프로그래밍

In [3]:
# myList 변수에 국가명인 'korea' 문자열을 넣고 반복문으로 출력
myList = 'Korea'

for a in myList:
  print(a)

K
o
r
e
a

In [4]:
# myList 변수에 국가명이 담긴 리스트를 넣고 반복문으로 출력
myList = ["korea", "USA", "Japan"]

for a in myList:
  print(a)

korea
USA
Japan

In [5]:
# 딕셔너리 생성
myDictionary = {
    "name" : "Selena",
    "job" : "data scientist"
}

In [6]:
# 딕셔너리 안에 있는 키가 변수로 들어감
# key 값과 myDictionary 내용을 반복문으로 출력
for key in myDictionary:
  print(key, ":", myDictionary[key])

name : Selena
job : data scientist

In [8]:
# range() 함수를 바로 출력하면 range(0,5)로 출력됨
print(range(5))

range(0, 5)

In [9]:
# list() 함수를 이용해 범위를 리스트로 변경하면 범위 내부에 어떤 값이 있는지 확인 가능
# range() 함수의 매개변수 개수에 따른 결과 값 출력
print(list((range(5))))
print(list(range(5, 10)))
print(list(range(5,10,2)))

[0, 1, 2, 3, 4]
[5, 6, 7, 8, 9]
[5, 7, 9]

In [10]:
# range() 함수를 사용하여 5번 반복
# 0부터 5미만까지 반복
for i in range(5):
  print(i)

0
1
2
3
4

In [11]:
# 3부터 시작해서 , 20 미만의 수를 4간격으로 출력
for i in range(3,20,4):
  print(i)

3
7
11
15
19

#02.while반복문

In [12]:
# count 변수가 5가 될 떄까지 반복하여 count 출력
count = 0

while count < 5:
  print("count: ", count)
  count = count +1

count:  0
count:  1
count:  2
count:  3
count:  4

In [19]:
# 반복문 조건은 'a가 3보다 클 때 반복을 시켜줘'
# a를 10으로 초기 값을 부여하여 반복문의 조건은 항상 참이 나옴
# 그래서 무한 반복문이 됨
# break 키워드를 통해 'count가 20보다 클 때 반복을 멈춰' 실행하여 무한 반복문을 빠져나옴
a =10
count = 0

while a > 3:
  count = count +1
  a= a+1
  if count > 20:
    break
  print("a =" , a," \t count = ", count)

print("반복문 종료")

a = 11  	 count =  1
a = 12  	 count =  2
a = 13  	 count =  3
a = 14  	 count =  4
a = 15  	 count =  5
a = 16  	 count =  6
a = 17  	 count =  7
a = 18  	 count =  8
a = 19  	 count =  9
a = 20  	 count =  10
a = 21  	 count =  11
a = 22  	 count =  12
a = 23  	 count =  13
a = 24  	 count =  14
a = 25  	 count =  15
a = 26  	 count =  16
a = 27  	 count =  17
a = 28  	 count =  18
a = 29  	 count =  19
a = 30  	 count =  20
반복문 종료

In [21]:
# 반복문 조건은 'num이 10보다 작을 때 반복을 시켜줘'
# num이 5 이하일 때 continue 키워드를 사용해여
# 현재 반복을 생략하고 다음 반복으로 넘어가서 print가 안 됨
# num이 5 초과일 떄 print 됨
num =0

while num < 10:
  num = num + 1
  if num <=5:
    continue
  print(num)

6
7
8
9
10