<a href="https://colab.research.google.com/github/ohsang14/Python/blob/main/STEP2__%EB%B3%80%EC%88%98%EC%99%80_%EC%9E%90%EB%A3%8C%ED%98%95.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 문자열 자료형 I

In [4]:
# 큰 따옴표로 문자열 만들기
# word 변수에 큰 따옴표 문자열 저장하여 출력
word = "hello"
print(word)

hello

In [5]:
# 작은 따옴표로 문자열 만들기
print('hello')

hello

In [6]:
# 문자열 내부에 큰 따옴표 안에 작은 따옴표 넣기
print("I'm smart")

I'm smart

In [22]:
# 이스케이프 문자를 사용해 문자열 만들기
# 이스케이프 문자는 역슬래쉬(\) 기호와 할께 조합해서 사용하는 특수문자를 의미
# \와 함꼐 사용하면'문자열을 만드는 기호' 가 아니라 \단순한 따옴표\ 로 인식
print('아시 안느를 `아세요?`넨네')

아시 안느를 `아세요?`넨네

In [23]:
# 여러 줄 문자열 만들기
# 큰 따옴표 또는 작은 따옴표를 3번 반복한 기호를 사용
# Enter를 누르는 곳마다 줄바꿈이 일어남
sentence = """
글을 쓰고 싶다
옥슬아
안느야
"""
print(sentence)

글을 쓰고 싶다
옥슬아
안느야

In [38]:
# 줄 바꿈 없이 문자열 만들기
# 큰 따옴표 또는 작은 따옴표를 3번 반복한 기호만 사용하면 위 아래로 의도하지 않은 줄바꿈이 생김
# 역슬래쉬(\) 기호를 사용하면 의도하지 않은 줄바꿈이 사라짐

sentence = """\
옥슬아
안느야
안느야\
"""
print(sentence)

옥슬아
안느야
안느야

In [42]:
sentence1 = "1\n2"
sentence2 = "3\t4"
sentence3 = '\'작은 따옴표\' 출력'
sentence4 = "\"큰 따옴표\" 출력"
print(sentence1)
print(sentence2)
print(sentence3)
print(sentence4)

1
2
3	4
'작은 따옴표' 출력
"큰 따옴표" 출력

In [44]:
# [+] 문자열 연결 연산자
a = "파이썬!"
b = "프로그래밍 !"
print(a+b)

파이썬!프로그래밍 !

In [46]:
# [*] 문자열 반복 연산자
equal = "=" * 30
sentence = equal + "\n 파이썬을 제대로 공부해보자!\n" + equal
print(sentence)

==============================
 파이썬을 제대로 공부해보자!
==============================

In [47]:
# 문자열 인덱싱: 문자 하나 선택
#     012  3 4567 8 910111213

sentence = '파이썬 하루만에 끝내보자!'

In [49]:
# 문자열 [인덱스]로 호출
# 순방향 인덱스 : 0부터 시작
# 역방향 인덱스 : -1 부터 시작
print(sentence)
print(sentence[0])
print(sentence[-1])

파이썬 하루만에 끝내보자!
파
!

In [51]:
# 문자열 슬라이싱: 특정 범위 선택
sentence = "파이썬 하루만에 끝내보자!"

In [52]:
# 문자열[인덱스] : 인덱스2]로 호출
# 4:8 = 4,5,6,7
# 4 이상부터 8 미만까지 출력
# 마지막 수는 포함 x

print(sentence)
print(sentence[4:8])

파이썬 하루만에 끝내보자!
하루만에

# 문자열 자료형 II

In [53]:
# 한 개의 % 연산자 포맷팅
# 숫자 대입은 %d
sentence = "나는 %d호선을 타고 다녀." %6
print(sentence)

나는 6호선을 타고 다녀.

In [54]:
# 두 개의 이상의 % 연산자 포맷팅
# 숫자 나타내는 변수와 문자를 나타내는 변수 대입
# 숫자 대입은 #d. 문자 대입은 %s
a = 4
b = "학교"
sentence = "나는 %d호선을 타고 %s로 가." % (a,b)
print(sentence)

나는 4호선을 타고 학교로 가.

In [57]:
# 한 개의 format() 함수 포맷팅
# [] 안에 숫자 대입
# format 함수 안에 넣을 숫자 삽입.
print("나는 {}호선을 타고 다녀".format(6))
print("나는 {0}호선을 타고 다녀".format(6))

나는 6호선을 타고 다녀
나는 6호선을 타고 다녀

In [59]:
# len(x) : 문자열 길이 출력
sentence1 = "Selena는 샤브샤브를 좋아해"
print(len(sentence1))

17

In [60]:
# split(): 문자열 나누기
print(sentence1.split())

['Selena는', '샤브샤브를', '좋아해']

In [61]:
# count(x) : 문자 개수 세기
print(sentence1.count("샤브"))

2

In [66]:
# replace('a', 'b') : 문자열 바꾸기
sentence2 = sentence1.replace('샤브샤브','고기')
print(sentence1)
print(sentence2)

Selena는 샤브샤브를 좋아해
Selena는 고기를 좋아해

In [67]:
# find('a') : 위치 알려주기
file_name = "HAMburger.jpg"
print(file_name.find('.'))
print(file_name.split('.'))

9
['HAMburger', 'jpg']

In [68]:
# join(x): 문자열 삽입
sentence = '.'.join('abcde')
print(sentence)

a.b.c.d.e

# 04.리스트 자료형(list)

In [70]:
# 대괄호 [ ] 내부에 여러 종류의 자료를 넣어 선언
# 선언한 리스트를 출력하면 내부의 자료를 모두 출력
myList= [1, 1.25, 1, 'word', [1,2,[3,4]]]
print(myList)

[1, 1.25, 1, 'word', [1, 2, [3, 4]]]

In [71]:
print(myList)

#[인덱싱] 0 인덱스 값을 가진 요소 값 출력
print(myList[0])

[1, 1.25, 1, 'word', [1, 2, [3, 4]]]
1

In [72]:
# 리스트 'myList'는 1, 1.25, 1과 또 다른 리스트인 [1,2, [3,4]]로 이루어짐
# 인댁식 4번쨰 요쇼
print(myList[4][2])

[3, 4]

In [74]:
# [인덱싱] 4번쨰 요소 값의 2번쨰 요소 값의 0번째 요소 값 출력
print(myList[4][2][0])

3

In [76]:
#[슬라이싱] 2번쨰부터 3번째까지 범위 선택
print(myList[2:3])

[1]

In [77]:
# 아래 결과를 이해하면 인덱싱과 슬라이싱 정복!
# 리스트의 인덱싱과 슬라이싱을 이용

myList = [1, 5.2, 2*3, ['커피', '물', ['매실차', '유자차']]]
print(myList[3][2][0][:2])

매실

In [82]:
# list1 2번 반복
# list1과 list2 덧셈
# 연산 결과의 길이 구하기
list1 = [1,2,3]
list2 = [4,5,6]
print(list1*2 +list2)
print(len(list1*2 + list2))

[1, 2, 3, 1, 2, 3, 4, 5, 6]
9

In [84]:
myList = [1,5.2,2*3, ['커피','물',['매실차','유자차']]]
print(myList)

# 리스트 변경 값으로 수정
myList[3] = "변경"
print(myList)
print(len(myList))

# 리스트 "변경" 값 삭제
del myList[3]
print(myList)
print(len(myList))

[1, 5.2, 6, ['커피', '물', ['매실차', '유자차']]]
[1, 5.2, 6, '변경']
4
[1, 5.2, 6]
3